table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 20px;
    text-align: left;
}
td {
    font-size: 18px;
}
tr {
    display: flex;
    flex-direction: row;
    align-items: center;
}
tbody {
    border-bottom: solid;
}
.table-head {
    border-bottom: #B3A0FF solid 1px;
}

.token-container {
    border-bottom:#B3A0FF solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.token-id {
    width: 3vh;
    max-width: 54px;
    padding-left: 15px;
}
.token-name {
    width: 60vh;
    max-width: 250px;
    display:flex;
    align-items: center;
}
.token-logo {
    max-width: 20px;
    margin-right: 8px;
}
.token-links {
    display: flex;
    flex-direction: row;
    width: 10vh;
    max-width: 120px;

}
.links-icons {
    width: 17px;
    margin-right: 8px;
}
.token-symbol {
    margin-left: 10px;
    opacity: 40%;
}
.token-contract {
    min-width: 140px;
}
.tokenURL {
    color: black;
}
.token-blockchain {
    display: flex;
    min-width: 160px;
}
.blockchain {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9d0ff;
    padding: 3px 10px;
    border-radius: 10px;

}
.token-blockchain-name {
    margin-left: 5px;
    font-size: 14px;
}
.token-timestamp {
    min-width: 160px; 
}
.mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .token-timestamp {
        display: none;
    }
    .token-blockchain {
        display: none;
    }
    .token-contract {
        display: none;
    }
    .mobile {
        display: inline;
        color: black;
    }
    .browser {
        display: none;
    }
    .line {
        display: none;
    }
  }