.scroll::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */

}

.scroll::-webkit-scrollbar-track {
  border-radius: 0px 10px 10px 0px

}

.scroll::-webkit-scrollbar-thumb { /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  background: grey

}
