@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Ubuntu&display=swap');

html {
  --bg-color: #05062a;
  --text-color: white;
}

body {
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  font-weight: normal;
  font-style: normal;
}

.listing {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.listing h1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.listing h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

.listing header {
  padding: 1rem;
}

.listing .subtitle {
  padding: 1rem;
}

.listing span {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  max-width: 1350px;
}

input {
  background-color: var(--bg-color);
  border: 2px solid rgba(47, 0, 255, 0.371);
  width: 10rem;
  height: 1.5rem;
  border-radius: 5px;
  color: var(--text-color);
  padding-left: 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  opacity: 50%;
}

.long {
  width: 20rem;
}

input:focus {
  outline: none;
}

.long:hover {
  border: 2px solid #aabff8b6;
  width: 20rem;
  height: 1.5rem;
}

.textarea {
  background-color: var(--bg-color);
  border: 2px solid rgba(47, 0, 255, 0.371);
  width: 20rem;
  height: 5rem;
  border-radius: 5px;
  color: var(--text-color);
  padding-left: 10px;
}

.textarea:focus {
  outline: none;
}

.textarea:hover {
  border: 2px solid #aabff8b6;
  width: 20rem;
  height: 5rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgba(47, 0, 255, 0.371);
  margin-top: 1rem;
}

.input-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-input {
  margin-bottom: 1rem;
}

.button {
  font-family: "Poppins";
  background-image: linear-gradient(to right,
      #3701f4 0%,
      #26a0da 41%,
      #2af0d5 100%);
}

.button {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;
}

.button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.listing button {
  width: 38%;
  height: 40px;
}

::placeholder {
  color: #aabff8b6;
}

.left {
  margin-left: 1rem;
}

.right {
  margin-right: 1rem;
}

.footer {
  background-color: var(--bg-color);
  text-align: center;
  height: 60px;
  box-shadow: inset 0 2px 8px rgb(0 0 0 / 25%);
}

.footer-mobile {
  background-color: var(--bg-color);
  text-align: center;
  border-top: 2px solid rgba(47, 0, 255, 0.371);
  bottom: 0px;
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footop-data {
  bottom: 50px;
  left: 5px;
  height: 60px;
  width: 40%;
  padding: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  background-color: var(--bg-color);
  margin-bottom: 0px !important;
  border-radius: 10px;
  border: 2px solid rgba(47, 0, 255, 0.371);
}

.footop-sort {
  bottom: 50px;
  right: 30px;
  height: 60px;
  width: 40%;
  padding: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  background-color: var(--bg-color);
  border-radius: 10px;
  margin-bottom: 0px !important;
  border: 2px solid rgba(47, 0, 255, 0.371);
}

.footop-dao {
  bottom: 50px;
  left: 25px;
  height: 60px;
  width: 40%;
  padding: 5px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  background-color: var(--bg-color);
  margin-bottom: 0px !important;
  border-radius: 10px;
  border: 2px solid rgba(47, 0, 255, 0.371);
}

.links {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.line-footer {
  width: 100%;
  height: 1px;
  background-color: rgba(47, 0, 255, 0.371);
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.line-mobile {
  width: 100%;
  height: 1px;
  background-color: rgba(47, 0, 255, 0.371);
}

.footext {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: black;
}

.final {
  background-color: var(--bg-color);
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.token {
  background-image: linear-gradient(#5420ff, #3964ff);
  border: 3px solid #001666;
  color: white;
  border-radius: 10px;
  width: 95%;
  height: 92.5%;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.voted {
  opacity: 20%;
}

.final h1 {
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.final header {
  padding: 1rem;
}

.final .subtitle {
  padding: 1rem;
}

.final span {
  font-size: 1.25rem;
}

.token h2 {
  padding: 1rem;
  margin-top: 0;
}

.token .head {
  display: flex;
  justify-content: space-between;
}

.token .logo {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.token:hover {
  opacity: 87%;
}

.voted:hover {
  opacity: 20%;
  cursor: not-allowed;
}

.token .body {
  padding: 1rem;
  margin-top: -1.5rem;
}

.token .body span {
  font-size: 0.95em;
}

.token .list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.token .buttons {
  position: absolute;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: calc(100% - 2rem);
  justify-content: space-around;
}

.reject {
  background-image: linear-gradient(black, rgb(12, 12, 12));
  cursor: pointer;
  font-size: 1.1em;
}

.validate {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.1em;
}

.validate:hover {
  color: var(--text-color);
  opacity: 80%;
}

.buttons>* {
  width: 45%;
  height: 25px;
}

.tokens-div {
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 400px;
  align-self: center;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.5rem;
}

.buttonsDiv>* {
  width: 30% !important;
  margin-right: 0.5rem;
}

.readmore {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.list>* :hover {
  cursor: pointer;
  text-decoration: underline;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1.5rem;
}

.buttonsDiv>* {
  width: 30% !important;
  margin-right: 0.5rem;
}

.readmore {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.list>* :hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .footer-mobile>*>* {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
  }

  .footer {
    margin-bottom: 50px;
    color: white;
  }

  .tokens-div {
    width: 100%;
    height: 1125px;
    max-width: 1200px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .tokenpage-name {
    font-size: 30px !important;
  }

  .tokenpage-logo {
    max-width: 75px;
  }

  .tokenpage-symbol {
    font-size: 25px !important;
  }

  .tokenpage {
    max-width: 768px;
    overflow: hidden;
  }

  .tokenDescription {
    max-width: 500px;
  }

  .tokenpage-details {
    margin-bottom: 20px;
  }

  .footer {
    height: 50px;
  }

  .tokens-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .tokens-div>* {
    margin-bottom: 1rem;
    height: 350px;
  }

  .right span {
    display: none !important;
  }
}

.tokenpage-name {
  font-size: 45px;
  font-weight: 500;
}

.tokenpage-head {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tokenpage-symbol {
  margin-left: 15px;
  color: gray;
  font-size: 40px;
  font-weight: 400;
}

.tokenpage-logo {
  margin-right: 15px;
  width: 100px;
}

.tokenpage-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

.contract-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d9d0ff;
  padding: 3px 10px;
  border-radius: 10px;
  margin-right: 15px;
  height: 25px;
}

.contract-details-text {
  font-size: 16px !important;
  font-weight: 500;
}

.blockchain-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d9d0ff;
  padding: 3px 10px;
  border-radius: 10px;
  margin-right: 15px;
  height: 25px;
}

.blockchain-details-image {
  margin-right: 2px;
}

.blockchain-details-text {
  font-size: 16px !important;
  font-weight: 500;
}

.tokenURL {
  text-decoration: none;
}

.tokenURL:hover {
  text-decoration: underline;
}