@import "../../styles/variables.scss";

.link {
  color: $secondTextColor;
  margin-left: 7px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: $lineColor;
  margin-top: 1rem;
}

.title {
  font-weight: 800;

  .titleColor {
    color: $secondTextColor;
    font-size: inherit;
  }
}
