.title{
    font-size:35px;
}

.descriptions{
    font-size:18px;
}

.button{
    font-size:20px
}

@media (max-width: 1280px) {
    .title{
        font-size:23px;
    }
    .descriptions{
        font-size:14px;
    }
    .button{
        font-size:15px
    }
}

@media (max-width: 768px) {
    .title{
        font-size:18px !important;
        text-align: center;
    }
    .descriptions{
        font-size:10px !important;
        text-align: center;
    }
    .button{
        font-size:12px !important
    }
}
