.search-div {
  position: absolute;
  width: calc(14rem + 155px);
  height: 400px;
  background-color: #2d3558;
  z-index: 100;
  top: 0px;
  left: -100px;
  border-radius: 10px;
  box-shadow: 4px 3px 5px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.99;
  overflow: scroll;

  .loupe {
    color: #f7f7f7;
    font-size: 1.5rem;
    position: absolute;
    top: 13px;
    left: 13px;
  }
}

.search-input {
  font-size: 0.8rem;
  width: 14rem;
  height: 48px;
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
  background-color: #2d3558;
  padding-left: 50px;
  border: none;
  color: #2d3558;
  margin-right: 2.5rem;
  font-family: 'Inter', sans-serif;
}

.search-input::placeholder {
  color: #8d8d8d;
  opacity: 1;
}
.search-token .token-names {
  font-weight: bold;
  font-size: 1.1rem;
}

.search-token .token-symbols {
  opacity: 0.5;
  font-size: 0.8rem;
  margin-left: 5px;
}

.search-token h3 {
  margin-bottom: 20px;
  padding-left: 20px;
}

.token-infos-search {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.token-infos-search .token-logos {
  padding-left: 20px;
}

.token-infos-search:hover {
  background-color: #424968;
}

.token-logos {
  height: 40px;
  margin-right: 1rem;
}

.token-names {
  margin-right: 5px;
}

.font-char {
  font-size: 15px;
}

.token-rank {
  margin-left: auto;
  margin-right: 20px;
  opacity: 0.5;
  font-size: 0.9rem;
}

@media screen and (max-width: 1450px) {
  .search-input {
    width: 10rem;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1060px) {
  .search-input::placeholder {
    color: transparent;
    background-color: none;
  }

  .search-input {
    background: none;

    width: 1rem;
    margin-right: 0px;
  }
}

@media screen and (max-width: 1060px) {
  .search-desk {
    display: none;
  }

  .search-mob {
    display: block;
  }

  .search-div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
  }

  .search-input::placeholder {
    color: transparent;
    background-color: none;
  }

  .search-input {
    background: none;

    width: 1rem;
    margin-right: 0px;
  }
}
