@media screen and (max-width: 1600px) {
  .token-name {
    max-width: 150px
  }
}

@media screen and (max-width: 768px) {
  .token-name {
    max-width: 170px
  }
}

@media screen and (max-width: 458px) {
  .token-name {
    max-width: 90px
  }
}
