.border-bot {
  border-bottom: 1px solid rgba(46, 53, 87, 0.8);
  cursor: pointer;
}

.border-bot:hover {
  background-color: #808a9d27;
}

.tokens-links {
  font-size: 24px;
  position: relative;
  margin-right: 26px !important;
  width: 80px !important;
  margin-left: 25px !important;
}

.trs:hover{
  background: #2E3557!important
}

.token-containers {
  width: 100%;
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  height: 120px;
}

.token-containers>td {
  width: 154px;
  display: flex;
  margin-left: 50px;
  align-items: center;
  justify-content: end;
}

.token-chart{
  width: 135px !important;
  margin-left: 44px !important;
  margin-right: 20px;
}

.token-ids {
  display: flex;
  align-items: center;
  width: 97px !important;
  margin-right: 20px;
  margin-left: 8px !important;
}

.token-ids>span {
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #808a9d;
}


.nomargin {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.font-char {
  font-size: 15px;
}
// ==========================================================================

//===========================================================================

.media-icons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.asset-title-start{
  display: flex;
  justify-content: flex-start;align-items:center;
  padding: 15px 0px !important;
  white-space: initial;
  margin-right: 31px;
}


.wrap-name{
  display: flex;
    flex-wrap: wrap;
    margin-right: -70px;
}

.center-social{
  text-align:center
}



 .tbodys {
  border-bottom:1px solid #2E3557
}

.tbodys tr {
  align-items: center;
}

.name-title-margin{
  margin-right:15px;
  white-space: nowrap;
}

.white{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.rank-title-start{
  vertical-align:middle;

}

.ths {
  padding:15px 20px;
  text-align:end;
  margin: 15px 0px;
}

.green{
  display: flex;
  justify-content: end;
  align-items: center;
}

.red{
  display: flex;
  justify-content: end;
  align-items: center;
}



@media screen and (max-width: 768px) {
  .media-icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .asset-title-start{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    position: sticky;
    left: 0px;
    background: #05062a;
    margin: 0px !important;
    padding: 15px 10px 15px 10px !important;
  }



  .price-title-center{
    padding:0px 0px 0px 20px !important
  }
  .wrap-name{
    margin-right: 0px;
  }
  .font-char{
    font-size: 14px;
  }
  
   .tbodys {
    border-bottom:1px solid rgba(39, 42, 68, 0.301)
  }
  .tbodys:hover {
    background:green !important
  }
  
  .tbodys tr {
    align-items: center;
  }
  
  .name-title-margin{
    margin-right: 10px;
  }
  
  .white{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .rank-title-start{
    vertical-align:middle;
    display:none;
  }
  
  .ths {
    padding:0px 15px ;
    text-align:end;
    margin: 15px 0px;
  }
  
  .green{
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  .red{
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

// ==============================

// ==============================


.white:visited {
  color: #fff;
}


.red {
  color: #ea3943 !important;
}

.green {
  color: #16c784 !important;
}

.token-percentage-box {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ea3943;
  align-items: center;
  display: flex;
}

.token-infos {
  display: flex;
  align-items: center;
  justify-content: start !important;
  width: 240px !important;
  margin-left: 10px !important;
}

.token-infos>div>span {
  display: flex;
  flex-wrap: nowrap;
}

.token-infos>div {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.token-logos {
  height: 40px;
  margin-right: 1rem;
  border-radius: 50%;
}

.token-names {
  margin-right: 5px;
}

.tokens-price {
  width: 75px !important;
  margin-right: 10px;
}

.token-percentage {
  width: 125px !important;
}

.token-marketFully {
  position: relative;
}

.media-icons {
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.fi {
  color: #556b90;
}

.fu {
  color: #556b90;
}

.fo {
  color: #556b90;
}

@media screen and (max-width: 768px) {
  .token-containers {
    height: 60px !important;
  }
  .chart-image{
    margin-right: 10px;
  }

  .token-ids {
    display:none !important
  }
  .media-icons{
    margin-left: 10px;
  }


  .token-marketCap {
    margin-left: 0px !important;
    width: 144px !important;
  }
  

  .token-infos {
    margin: 0px;
    margin-right: 15px;
  }

  .token-logos {
    height: 30px;
  }

  .token-marketFully {
    margin-left: 0px !important;

  }

  .tokens-links {
    margin-left:0px !important;
  }

  .token-chart {
    margin-left: 10px !important;
    justify-content:start !important;
  }

  .token-symbols {

  }

  .tokens-price {
    width: 32px !important;
    margin-left: 0px !important;
  }

  .token-percentage {
    width: 34px !important;
    margin-right: 10px;
    margin-left: 40px !important;
  }
  .token-logos{
    margin-right: 10px;
  }

  .token-price-box{
    background: #05062a;
    z-index: 2;
    padding-left: 10px;
  }

}

@media screen and (max-width: 580px) {
  .token-percentage-box {
    align-items: center;
    display: flex;
    font-size: 12px;
  }
  

  .arrowDown {
    margin-right: 4px;
    font-size: 13px;
  }

  .token-infos {
    margin-right: 00px;
  }

  .token-percentage {
    width: 40px !important;
    display: flex;
    margin-left: 20px;
  }

  .tokens-price {
    width: 50px !important;
  }
}

@media screen and (max-width: 730px) {
  .token-infos {
    margin-right: 00px;
  }
}

@media screen and (max-width:1595px ) {
  .wrap-name{
    display: flex;
      flex-wrap: wrap;
      margin-right: -20px;
  }
}