.head-logo {
  width: 60px;
  height: 60px;
}

.head-logo-1{
  height:45px;
  width:45px;
  padding:7px;
 
}

.mobula-title {
  font-size: 25px;
  margin-left: 1rem;
  margin-top: 3px;
  color: var(--brand-title);
  font-family: 'Poppins', sans-serif;
  line-height: 18px;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

@media screen and (max-width: 1450px) {
  .left {
    margin-left: 0;
  }
}
