.gainer-box {
  background: rgba(163, 212, 244, 0.25);
  border-radius: 10px;
  width: 28%;
  margin-top: 2rem;
  backdrop-filter: blur(13.94px);
  transition: 0.1s;
}

.gainer-box>* {
  padding: 10px 20px 15px 20px;

}

.gainer-box:hover {
  background: rgba(163, 212, 244, 0.35);
}

.line-gainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
  margin-left: -20px;
}

.line-gainer>* {
  margin-right: 20px;
}

.token-info-pack {
  margin-left: 20px;
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
}

.line-gainer:hover {
  cursor: pointer;
  background-color: rgba(163, 212, 244, 0.25)
}