.gainer-box {
    border-radius: 10px;
    width: 27%;
    margin-top: 2rem;
    backdrop-filter: blur(13.94px);
    transition: 0.1s;
    margin-top: 2.5rem;

}

.gainer-box>* {
    padding: 10px 20px 15px 20px;
}

.container-title-flex{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin-top:10px;
    padding-bottom:0px;
}

.container-title-flex > a:visited{

}

.container-title-flex > a{

    white-space:nowrap;
}

.container-title-flex > a:hover{
    color:#5C7DF9;
    
    white-space:nowrap;
}

.marginTitle{
    margin-right:10px
}

.gainer-box:hover {
    


}

.line-gainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
   
}

.line-gainer>* {
 
}

.token-info-pack {

    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   
}

.line-gainer:hover {
    cursor: pointer;

}

.gainer-main-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;

    margin: 0px;
   
}

.left-gainer {
    width: 100%;
}

.line-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;

    opacity: 0.6;
    margin-right: 15px;
}

.crypto-assests {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    
    text-overflow: ellipsis;

}

.logo-inBox {
    height: 18px !important;
    margin-right: 10px;
    border-radius: 50%
}

.red {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size:14px;
    margin-left: 15px;
    color: #ea3943 !important;
}

.triangle-green {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #16c784;
    border-left: 6px solid transparent;
    margin-right: 6px;
    margin-bottom: 2px;
}

.triangle-red {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 6px solid #ea3943;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin-right: 6px;
    margin-bottom: 2px;
}

.green {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size:14px;
    color: #16c784 !important
}

.gainer-container {
    display: flex;
    flex-direction: row;
    line-height: 28px;
    width: 100%;
}

@media screen and (max-width:1100px) {
    .gainer-box {
    
        width: 32%;
        
    }
}

@media screen and (max-width:1060px) {
    .gainer-box {
        margin-left: 0.3rem;
    }
}