.search-div {
  position: absolute;
  width: calc(14rem + 155px);
  height: 400px;
  // background-color: #2d3558;

  z-index: 100;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  box-shadow: rgba(88, 102, 126, 0.082) 0px 4px 14px, rgba(88, 102, 126, 0.062) 0px 1px 10px;
  overflow: auto;

  .loupe {
    font-size: 1.5rem;
    margin-left: 20px;
    opacity: 0.5 !important;
    width: 42px;
  }
}

.search-div::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

.search-div::-webkit-scrollbar-track {
  border-radius: 0px 10px 10px 0px
}

.search-div::-webkit-scrollbar-thumb {
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */

}


.red {
  color: #D8494A !important;
  opacity: 1 !important;

  .loupe {
    margin: auto;
  }
}

.green {
  color: #00ba7c !important;
  opacity: 1 !important;
}

.search-input,
.search-input-off {
  font-size: 14px;
  margin-left: 10px;
  height: 48px;
  opacity: 1;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-family: 'Inter', sans-serif;
}

.search-input::placeholder,
.search-input-off {

  opacity: 1;
}

.search-token .token-names {
  font-weight: bold;
  font-size: 1.1rem;
}

.search-token .token-symbols {
  opacity: 0.5;
  font-size: 0.8rem;
  margin-left: 5px;
}

.search-token h3 {
  margin-bottom: 20px;
  padding-left: 20px;
}

.token-infos-search {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.token-infos-search .token-logos {
  margin-left: 20px;
  border-radius: 50%;
}

.token-logos {
  height: 40px;
  margin-right: 1rem;

}

.token-names {
  margin-right: 5px;
}

.font-char {
  font-size: 15px;
}

.token-rank {
  margin-left: auto;
  margin-right: 20px;
  opacity: 0.5;
  font-size: 0.9rem;

  display: flex;
  justify-content: end;
  align-items: center
}

.arrowUp {
  font-size: 15px;
  width: 19px;
  margin-right: 3px;
}

.search-div > input {
  width: 100vw !important;

}

@media screen and (max-width: 1450px) {
  .search-input {
    width: 10rem;
    margin-right: 1.5rem;
  }

  .search-input-off {
    width: 50%;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .search-input {
    width: 8.8rem;
    margin-right: .8rem
  }

  .search-input-off {
    width: 8.8rem;
    margin-right: .8rem
  }

}

@media screen and (max-width: 1070px) {

  .search-input::placeholder,
  .search-input-off {
    color: transparent;
    background-color: none;
  }

  .search-input-off {
    background: none;
    width: 0rem !important;
    margin-right: 12px !important;
  }

}

@media screen and (max-width: 1090px) {
  .earn {
    margin-right: 0px !important
  }
}

@media screen and (max-width: 1070px) {

  .search-input:focus {
    width: 50vw
  }


  .search-desk {
    display: none;
  }


  .search-mob {
    display: block;
  }

  .search-div {
    position: absolute;
    top: 0px;
    left: -10px;
    right: -100px;
    width: 100vw;
  }

  .search-input,
  .search-input-off {
    box-shadow: none !important
  }

  .search-input::placeholder,
  .search-input-off {
    color: transparent;
    background-color: none;
  }

  .search-input,
  .search-input-off {
    background: none;
    width: 6rem;
    margin-right: 0px;
  }
}

.search-flex {
  display: flex;
  align-items: center;
}

.X {
  margin-left: auto;
  margin-right: 10px;
  width: 20px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .search-div {
    position: absolute;
    top: 0px;
    left: -160px;
    right: -100px;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  .search-div {
    position: fixed;
    display: block;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100vw !important;
    height: 100%;
    margin-left: 0px !important;
    box-shadow: none;
    margin-right: 0px;
    border-radius: 0px
  }

  .search-flex {
    margin: auto;
    width: 95%;
    margin-bottom: 15px;
  }

  .search-flex {
    border-bottom: 1px solid var(--box_border);
  }

  .token-names {
    font-size: 14px !important;
  }


}
