.skip-btn-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    color:white;
    height: 109px;
    align-items: center;
}

.arrows{
    width: 40px !important;
    height: 40px !important;
}

.left-skip-btn{
    display:flex;
}

.right-skip-btn{
    display:flex;
}

.rank-box-left{
    display:flex;
    flex-direction: column;
    margin-left:5px;
}

.rank-box-right{
    display:flex;
    flex-direction: column;
    margin-right:5px;
    align-items: end;
}

.grey-rank{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.3;
    margin-bottom: 7px;
}

.white-name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.blue-skip-btn{
    color: #003FE1;
    background:none !important;
    border:none !important;
}

@media screen and (max-width:768px) {
    .white-name{
        font-size: 15px;
    }

    .grey-rank{
        font-size:15px;
    }
    .arrows{
        width: 31px !important;
        height: 31px !important;
    }
}