.container-main{
    display:flex !important;
    justify-content:space-between;
    flex-direction:row;
    margin-top:40px;
}

@media screen and (max-width: 1080px) {
    .container-main{
        flex-direction:column ;
    }
}

@media screen and (max-width: 768px) {
    .wrap{
        width:100% !important;
        margin-bottom:30px !important;
        align-items:center;
    }
    .wrap-box{
        flex-direction:column !important;
        align-items:center !important;
        justify-content:center !important
    }
}