.soon {
    width: 100%;
    height: 80vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-image: url(../../public/lines.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
    background-size: 52vh;
    top: 150px;
    position: absolute;
}

.soon h1 {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    margin-left: 20px;
    margin-right: 20px;
}

.soon p {
    font-size: 1.1em;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .soon h1 {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        font-size: 3em;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.spacer {
    margin-bottom: 70vh;
}