.fullOnChain {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.blockchain-btn-three {
  cursor: not-allowed !important;
  height: 35px ;
 
}

.blockchain-btn-three > span {
 
display:flex;
align-items: center;
  
}

.blockchain-name{
  white-space: nowrap;
}

.rectangle {
  position: relative;
  display: flex;
  align-items: center;
  width: 65px;
  background: #58667e;
  height: 28px;
  border-radius: 60px;
  padding: 2px;
}

.input-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  background: var(--bg-search);
  box-shadow:0 0 10px var(--shadow-color);
  height:54px;
  color:var(--text-color);
  font-size:24px;
  padding-left:10px;
  border-radius:10px;
  font-family:"Poppins", sans-serif;
}

.input-search{
  border:none;
  height:50px;
  font-family:"Poppins", sans-serif;
  background:none;
}

.white {
  background-color: var(----btn-hover) !important;
  color: #000000;
}

.rond {
  background: #ffffff;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  transform: translateX(0%);
  transition: transform 200ms ease-in-out;
}

.rond:active {
  /* transform: translateX(135%); */
  transition: transform 200ms ease-in-out;
}

.rectangle:active {
  background: #24274a;
  transform: background 200ms ease-in-out;
}

.marginFa {
  margin-left: 60px;
  font-size: 24px;
}

.onChain-btn-mobile {
  display: flex;
}

.main-blockchain-container {
  display: flex;
  align-items: center;
  width: auto;
  margin-top: 3rem;
  justify-content: center;
  padding-bottom: 30px;
}

.blockchain-name {
  margin-left: 4px;
}

.blockchain-logo {
  height: 35px;
  width: 35px;
  border-radius: 50%
}

.blockchain-container {
  display: flex;
  width: 86%;
  justify-content: space-around;
  color: var(--text-color);
  align-items: center;
}

.three-blockchain-logo {
  position: absolute;
}

.three-blockchain-logo:nth-child(1) {
  top: 6px;
  left: 8px;
  z-index: 1;
  width: 30px;
}

.three-blockchain-logo:nth-child(2) {
  top: 11px;
  left: 24px;
  z-index: 2;
  width: 30px;
}

.three-blockchain-logo:nth-child(3) {
  top: 16px;
  left: 40px;
  z-index: 3;
  width: 30px;
}

.onChain-btn-mobile {
  display: flex;
  opacity: 0.3;
}

.blockchain-btn {
  background-color: var(--bg-main);
  position: relative;
  border-radius: 10px;
  display: flex;
  background: var(--bg-white);
  align-items: center;
  justify-content: space-around;
  width: 6%;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  padding: 10px 15px;
  cursor: pointer;
  color:var(--text-color);
  box-shadow: 0px 1px 12px 3px var(--shadow-color);
}

.blockchain-btn:hover {
  background: var(--active-btn);
  color: black;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}



.select-button:hover {
  background: var(--active-btn);
  color: black;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  cursor: pointer;
}

.select-button,
.select-button-white {
  background-color: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  white-space: nowrap;
  border-radius: 12px;
  padding: 20px 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--text-color);
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
  box-shadow: 0px 1px 12px 3px var(--shadow-color);
}

.select-button-white {
  background-color: var(--active-btn);
  color: #000000;
}

.colors{
  color: rgba(187, 187, 187, 0.76);
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .matic-btn {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  // .search-input {
  //   margin-right: 0.8rem;
  // }

  .blockchain-btn-matic {
    display: none;
  }

  .connect-wallet-btn {
    display: none;
  }

  .relative {}

  .gainer-box {
    margin-left: 0.3rem;
  }

  // .search-input::placeholder {
  //   color: transparent;
  //   background-color: none;
  // }

  // .search-input {
  //   background: none;

  //   width: 1rem;
  //   margin-right: 0px;
  // }

  .hamburger-btn {
    display: inline-block;
    background: none;
  }
}

.params{
  display:none;
}

@media screen and (max-width: 870px) {
  .matic-btn {
    display: none;
  }

  .blockchain-btn-matic {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .rond {
    width: 15px;
    height: 15px;
  }

  .rectangle {
    width: 45px;
    height: 18px;
  }

  .blockchain-name {
    font-size: 14px;
  }



  .container-news {
    padding: 0px 10px;
    width: 90% !important;
    margin-top: 20px;
  }

  .blockchain-btn {
    width: 80px;
    padding: 6.5px 8px;
  }

  .select-button,
  .select-button-white {
    width: 100px;
    font-size: 13px;
    padding: 8px 6px;
    border-radius: 8px;
  }
  .input-btn{
    height:34px
  }

  .blockchain-container {
    width: 90%;
  }

  .marginFa {
    font-size: 14px;
  }

  .main-blockchain-container {
    margin-top: -25px;
  }

  .avax-btn {
    display: none;
  }

  .matic-btn {
    display: none;
  }

  .bsc-btn > img{
    height:22px;
    width:22px;
  }

  .three-blockchain-logo:nth-child(1) {
    width: 25px;
    height: 25px;
    top: 4px;
    left:5px
  }

  .three-blockchain-logo:nth-child(2) {
    width: 25px;
    height: 25px;
    top: 4px;
    left:15px
  }

  .three-blockchain-logo:nth-child(3) {
    width: 25px;
    height: 25px;
    top: 4px;
    left:25px
  }

  .rond {
    width: 15px;
    height: 15px;
  }

  .onChain-btn-mobile {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 44px;
    align-items: center;
    margin-right: 3px;
    margin-bottom: 17px;
  }

  .fullOnChain {
    font-size: 12px;
  }

  .blockchain-btn-three {
    padding: 8px 6px;
    height:22px !important;
    width: 72px !important;
  }

  .params{
    display:flex;
    align-items: center;
    background:none;border:none;
  }

  .input-search{
 display:none
  }
  .input-btn{
    display:none;
  }

  .mienai{
    display:none !important;
    
  }



  .marginFa{
    margin-left:48px;
  }

  .blockchain-btn {
    width: 80px;
    padding: 6px 6px;
  }

  .eth-btn {
    width: 25px;
    height: 25px;
  }

  .eth-btn-block {
    width: 60px !important;
    height:22px;
  }

  .select-button,
  .select-button-white {
    width: 100px;
    padding: 8px 6px;
    border-radius: 8px;
    font-size: 13px !important;
  }
  .fullOnChain{
    text-align: center;
  }

  .main-blockchain-container {
    margin-top: -25px;
  }

  /* @keyframes scrollTxt{
          0%{
              transform: translate(-100%,0);
          }
          100% {
              transform:translate(0%, 0);
          }
      } */
}

.blockchain-container a{
  margin-right: 7px;
}

.blockchain-btn-three {
  width: 250px;
  height: 35px;
  display:flex;
  align-items: center;
}


@media screen and (max-width: 580px) {

  .select-button,
  .select-button-white {
    padding: 8px 4px;
    width: 60px;
  }

  .marginFa {
    margin-left: 57px;
  }

  .rond {
    width: 12px;
    height: 12px;
    top: 2px;
    left: 3px;
  }

  .rectangle {
    width: 36px;
    height: 13px;
  }

  .eth-btn {
    height: 22px;
    width: 22px;
  }

  .blockchain-name {
    margin-left: 0px;
  }

  .blockchain-container {
    width: 100%;
  }

  .main-blockchain-container {
    padding-bottom: 8px;
  }

  .three-blockchain-logo:nth-child(1) {
    width: 22px;
    height: 22px;
    top: 4px;
  }

  .three-blockchain-logo:nth-child(2) {
    width: 22px;
    height: 22px;
    top: 6px;
  }

  .three-blockchain-logo:nth-child(3) {
    width: 22px;
    height: 22px;
    top: 8px;
  }
  .marginFa{
    margin-left:40px;
  }
  .select-button,
  .select-button-white {
    width: 85px;
  }

  .eth-btn-block {
    width: 55px !important;
  }
 



  .fullOnChain {
    font-size: 9px;

  }

  .onChain-btn-mobile {
    margin-right: 3px;
    margin-bottom: 17px;

  }

  .blockchain-btn {
    width: 74px;
  }

  .blockchain-btn-three {
    padding: 6px 6px !important;
  }
}

@media screen and (max-width: 460px) {
  .onChain-btn-mobile {
    display: none;
  }
  .bsc-btn {
    display: none !important;
  }
}

@media screen and (max-width: 384px) {
  .eth-btn-block {
    display: none;
  }
 
}

// .blockchain-btn-three {
//   padding: 10px 30px;
//   margin-right: 5px;
// }

// .blockchain-btn-matic {
//   background-color: #24274a;
//   position: relative;
//   border-radius: 10px;
//   display: flex;
//   align-items: center;
//   padding: 11px 10px;
//   justify-content: space-around;
//   transition: background 200ms ease-in-out, color 200ms ease-in-out;
//   width: 6%;
//   padding: 10px 25px;
// }

// .blockchain-btn-matic:hover {
//   background: #dee9ff;
//   color: black;
//   transition: background 200ms ease-in-out, color 200ms ease-in-out;
//   cursor: pointer;
// }

@media screen and (max-width:1000px) {
  .avax-btn {
    display: none;
  }
}