.fullOnChain {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.three-blockchain-logo {
    position: absolute;
}

.three-blockchain-logo:nth-child(1) {
    top: 7px;
    left: 8px;
    z-index: 1;
    width: 30px;
}

.three-blockchain-logo:nth-child(2) {
    top: 11px;
    left: 24px;
    z-index: 2;
    width: 30px;
}

.three-blockchain-logo:nth-child(3) {
    top: 16px;
    left: 40px;
    z-index: 3;
    width: 30px;
}

.onChain-btn-mobile {
    display: flex;
}

.blockchain-btn {
    background-color: #24274A;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 6%;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    padding: 10px 15px;
    cursor: not-allowed;
}

.blockchain-btn:hover {
    background: #DEE9FF;
    color: black;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    cursor: not-allowed;
}

.select-button-white {
    background-color: #DEE9FF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    border-radius: 12px;
    padding: 20px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.select-button:hover {
    background: #DEE9FF;
    color: black;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    cursor: not-allowed;
}

.select-button {
    background-color: #24274A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    border-radius: 12px;
    padding: 20px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    transition: background 200ms ease-in-out, color 200ms ease-in-out
}

@media screen and (max-width: 1060px) {

    .link-container {
        display: none;
    }

    .search-input {
        margin-right: 0.8rem;
    }

    .blockchain-btn-matic {
        display: none;
    }

    .connect-wallet-btn {
        display: none;
    }

    .relative {}

    .gainer-box {
        margin-left: 0.3rem;
    }

    .search-input::placeholder {
        color: transparent;
        background-color: none;
    }

    .search-input {
        background: none;

        width: 1rem;
        margin-right: 0px;
    }

    .hamburger-btn {
        display: inline-block;
        background: none;
    }

}

@media screen and (max-width: 870px) {
    .matic-btn {
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .container-news {
        padding: 0px 10px;
        width: 90% !important;
        margin-top: 20px;
    }

    .avax-btn {
        display: none;
    }

    .matic-btn {
        display: none;
    }

    .bsc-btn {
        display: none;
    }

    .three-blockchain-logo:nth-child(1) {
        width: 25px;
        height: 25px;
        top: 6px;
    }

    .three-blockchain-logo:nth-child(2) {
        width: 25px;
        height: 25px;
        top: 6px;
    }

    .three-blockchain-logo:nth-child(3) {
        width: 25px;
        height: 25px;
        top: 6px;
    }

    .rond {
        width: 15px;
        height: 15px;
    }

    .onChain-btn-mobile {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 44px;
        align-items: center;
    }

    .fullOnChain {
        font-size: 12px
    }

    .blockchain-btn-three {
        padding: 8px 6px;
    }

    .blockchain-btn {
        width: 80px;
        padding: 6px 6px;
    }

    .eth-btn {
        width: 25px;
        height: 25px;
    }

    .eth-btn-block {
        width: 60px !important
    }

    .select-button {
        width: 100px;
        font-size: 13px;
        padding: 8px 6px;
        border-radius: 8px;
    }

    .select-button-white {
        width: 60px;
        padding: 8px 6px;
        border-radius: 8px;
        font-size: 13px !important;
    }

    .blockchain-container {
        width: 80%;
    }

    .main-blockchain-container {
        margin-top: -25px;
    }

    /* @keyframes scrollTxt{
          0%{
              transform: translate(-100%,0);
          }
          100% {
              transform:translate(0%, 0);
          }
      } */
}

@media screen and (max-width: 580px) {
    .eth-btn {
        height: 22px;
        width: 22px;
    }

    .three-blockchain-logo:nth-child(1) {
        width: 22px;
        height: 22px;
        top: 9px;
    }

    .three-blockchain-logo:nth-child(2) {
        width: 22px;
        height: 22px;
        top: 9px;
    }

    .three-blockchain-logo:nth-child(3) {
        width: 22px;
        height: 22px;
        top: 9px;
    }

    .select-button {
        width: 85px;
    }


    .eth-btn-block {
        width: 55px !important;
    }

    .fullOnChain {
        font-size: 9px;
        display: none;
    }

    .onChain-btn-mobile {
        margin-right: 3px;
        margin-bottom: 17px;
        display: none;
    }
}


@media screen and (max-width: 384px) {
    .eth-btn-block {
        display: none;
    }
}

.blockchain-btn-three {
    padding: 10px 30px;
    margin-right: 5px;
}

.blockchain-btn-matic {
    background-color: #24274A;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 11px 10px;
    justify-content: space-around;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    width: 6%;
    padding: 10px 25px;
}

.blockchain-btn-matic:hover {
    background: #DEE9FF;
    color: black;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
    cursor: pointer;
}