@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Ubuntu&display=swap');

.texts-box {
  background-color: #ffff;
  min-width: 220px;
  border-radius: 8px;
  padding: 0.1px 20px 0.1px 60px;
  position: relative;
  font-family: 'Poppins';
  font-size: 14px;
  margin-left: 50px;
}

a{
  text-decoration: none;
}

.logo-box img {
  display:none;
}

.mobula-logo-box {
  width: 40px;
  height: 40px;
  margin-right: 1.4rem;
  margin-top: 0.3rem;
}