@media screen and (max-width: 768px) {
    #myForm {
        flex-direction: column;
    }
    .three-forms {
        width: 100% !important;
    }
    .form-container-box {
        width: 100%;
        max-width: 750px !important;
    }
    .three-forms>h2 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .form-container-box>label {
        font-size: 12px;
        margin-bottom: 7px !important
    }
    .form-container-box>input::placeholder {
        font-size: 11px;
    }
    #mobile-void {
        display: block !important;
    }
    #void {
        display: none !important;
    }
    .inputPlus {
        width: 90% !important;
    }
    .absolute-btn {
        top: 25px !important;
        right: 6px !important;
    }
    .button-submit-form {
        width: 141px !important;
        height: 40px !important;
    }
    .listingForm-title {
        font-size: 20px !important;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .listingForm-text {
        font-size: 12px !important;
        line-height: 18px;
        padding-bottom: 0px !important;
    }
    .listToken-container {
        padding-top: 25px !important;
    }
    .listToken-main {
        margin-top: 30px !important;
    }
}

@media screen and (max-width: 600px) {
    .inputPlus {
        width: 85% !important;
    }
    .absolute-btn {
        top: 26px !important;
        right: 6px !important;
    }
}

@media screen and (max-width: 400px) {
    .inputPlus {
        width: 80% !important;
    }
}

#mobile-void {
    display: none;
}
#void {
    display: block;
}
.listToken-container {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    /* background-color: rgba(47, 54, 88, 0.1); */
}
.title-listToken {
    width: 90%;
    border-bottom: 1px solid rgba(46, 53, 87, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.three-forms {
    width: 30%;
}
.listToken-main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.all-forms {
    color: white;
    align-items: start !important;
    flex-direction: row;
    width: 90%;
}
.form-container-box {
    width: 100%;
    max-width: 450px;
}
.form-container-box>label {
    width: 100%;
    margin-bottom: 15px;
    color: #FFFFFF;
    opacity: 0.6;
}
.relative-form {
    position: relative;
}
.inputCreated {
    width: auto;
    margin-bottom: 20px;
    height: 32px;
    background: rgba(163, 212, 244, 0.2);
    border: none;
    color: #ffffff41;
    border-radius: 10px;
}
.absolute-btn {
    top: 38px;
    right: -48px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: rgba(163, 212, 244, 0.2);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #ffffff4d;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center
}
.form-container-box>input {
    width: auto;
    margin-bottom: 20px;
    height: 32px;
    background: rgba(163, 212, 244, 0.2);
    border: none;
    color: white !important;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.form-container-box>input::placeholder {
    color: #ffffff41 !important;
}
.form-container-box>textarea {
    width: auto;
    margin-bottom: 15px;
    height: 150px;
    background: #A3D4F433;
    color: white;
    font-family: 'Poppins';
    border: none;
    border-radius: 15px;
    padding: 15px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea::placeholder {
    color: #ffffff7e !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
form>h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.button-submit-form {
    justify-content: center;
    background: linear-gradient(90deg, #003FE1 8.9%, #64D0FF 87.31%);
    border-radius: 10px;
    width: 194px;
    height: 50px;
    align-items: center !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    border: none;
}
.button-submit {
    margin-top: 20px;
}
.listingForm-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 18px;
    color: #FFFFFF;
}
.listingForm-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 30px;
}