$primaryTextColor: white;
$secondTextColor: #64d1ff;
$thirdTextColor: #f7f7f7;

$primaryGradient: linear-gradient(
  90deg,
  rgba(0, 63, 225, 1) 0%,
  rgba(100, 208, 255, 1) 100%
);

$primaryBGColor: #070023;
$secondBGColor: rgba(163, 212, 244, 0.25);

$lineColor: #2e3557;
