$primaryTextColor: white;
$secondTextColor: #64d1ff;
$thirdTextColor: #f7f7f7;

$green: #16c784;
$red: #ea3943;

$primaryGradient: linear-gradient(
  90deg,
  rgba(0, 63, 225, 1) 0%,
  rgba(100, 208, 255, 1) 100%
);

$primaryBGColor: #070023;
$secondBGColor: #a3d4f440;
$thirdBGColor: #a3d4f433;

$lineColor: #2e3557;
